body {
  max-width: 1920px;
  margin: auto;
  background: white;
  padding: 10px;  font-family: 'Raleway', sans-serif;
}




form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}



h1 {
  text-align: center;
}

#logo {
  height: 100px;
  display: block;
  margin: auto;
}


